[project]
	description = GerritPublicRepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/federicoAnselmoScremin
[access "refs/for/refs/*"]
	read = group user/federicoAnselmoScremin
	push = group user/federicoAnselmoScremin
	label-Code-Review = -2..+2 group user/federicoAnselmoScremin
	label-Verified = -1..+1 group user/federicoAnselmoScremin
	rebase = group user/federicoAnselmoScremin
	removeReviewer = group user/federicoAnselmoScremin
	submit = group user/federicoAnselmoScremin
[access "refs/heads/*"]
	read = group user/federicoAnselmoScremin
	create = group user/federicoAnselmoScremin
	push = +force group user/federicoAnselmoScremin
	pushMerge = group user/federicoAnselmoScremin
[access "refs/tags/*"]
	push = +force group user/federicoAnselmoScremin
	pushTag = group user/federicoAnselmoScremin
	pushSignedTag = group user/federicoAnselmoScremin
